* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
background: linear-gradient(180deg, rgba(107, 57, 42, 0.946) 6%, rgba(133,78,57,1) 18%, rgb(203, 164, 122) 60%, rgba(217, 192, 164, 0.339) 90%, rgba(255,255,255,1) 110%);
width: 100%;
padding: 5px 100px;
display: flex;
justify-content: center; /* Centraliza horizontalmente */
position: relative;
height: 180px;
}
.header img {
    height: 200px; /* Ajuste o tamanho conforme necessário */
    display: block;
    margin-top: -15px;
}

.form-container {
    border: 3.5px solid black;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 75px;
}
.form-container select {
    display: block;
    width: 250px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label{
    color: black;

}
.btn-enviar{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 10px 50px;
    background-color: #c49a6c;
    color: white; /* Cor do texto */
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.4s ease;
}

.btn-voltar{
    display: flex;
    flex-direction: column;
    margin: -10px auto;
    padding: 10px 50px;
    background-color: rgb(109, 109, 108);
    color: white; /* Cor do texto */
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.4s ease;
}

.btn-enviar:hover {
  background-color: #7d3a26; /* Cor ao passar o mouse */

}
